@charset "UTF-8";
table {
	margin-top: 40px;
	position: relative;
	
}
th {
	height:40px;
	border-top:2px solid #09C;
	border-bottom:1px solid #09C;
	font-weight: bold;
	font-size: 17px;
}
td {
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid	lightgray; 
	font-size: 14px 
}
img {
	width: 100px;
	height: 100px;
}